.social-buttons {
  display: flex;
  list-style-type: none; /* this will hide the bullet points */
  justify-content: center; /* center items horizontally */
  gap: 10px; /* adjust as needed */
  }
  .social-buttons:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  .social-buttons > li {
    flex: 1;
    position: relative;
    min-height: 50px;
    margin-bottom: 0; /* adjust as needed */
    list-style-type: none; /* this will hide the bullet points */
  }
  .social-buttons > li:after, .social-buttons > li:before {
    display: table;
    content: " ";
  }
  .social-buttons > li:after {
    clear: both;
  }
  .social-buttons > li .social-buttons-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .social-buttons > li .social-buttons-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .social-buttons > li .social-buttons-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .social-buttons > li .social-buttons-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: transparent;
  }
  
  .social-buttons > li .social-buttons-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .social-buttons > li.social-buttons-inverted > .social-buttons-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .social-buttons > li.social-buttons-inverted > .social-buttons-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .social-buttons > li.social-buttons-inverted > .social-buttons-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .social-buttons > li:last-child {
    margin-bottom: 0;
  }
  .social-buttons .social-buttons-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  .social-buttons .social-buttons-heading h4.subheading {
    text-transform: none;
  }
  .social-buttons .social-buttons-body > ul,
  .social-buttons .social-buttons-body > p {
    margin-bottom: 0;
  }

  @media (max-width: 599px) {
    .social-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

  @media (min-width: 600px) {
    .social-buttons:before {
      left: 50%;
    }
    .social-buttons > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .social-buttons > li .social-buttons-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .social-buttons > li .social-buttons-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .social-buttons > li .social-buttons-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .social-buttons > li.social-buttons-inverted > .social-buttons-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  
  @media (min-width: 768px) {
    .social-buttons:before {
      left: 50%;
    }
    .social-buttons > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .social-buttons > li .social-buttons-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .social-buttons > li .social-buttons-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .social-buttons > li .social-buttons-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .social-buttons > li.social-buttons-inverted > .social-buttons-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .social-buttons > li {
      min-height: 150px;
    }
    .social-buttons > li .social-buttons-panel {
      padding: 0 20px 20px;
    }
    .social-buttons > li .social-buttons-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .social-buttons > li .social-buttons-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .social-buttons > li.social-buttons-inverted > .social-buttons-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .social-buttons > li {
      min-height: 170px;
    }
    .social-buttons > li .social-buttons-panel {
      padding: 0 20px 20px 100px;
    }
    .social-buttons > li .social-buttons-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .social-buttons > li .social-buttons-image h4 {
      margin-top: 40px;
    }
    .social-buttons > li.social-buttons-inverted > .social-buttons-panel {
      padding: 0 100px 20px 20px;
    }
  }